

* {
    margin: 3px;
    padding: 0;	
}


#form_contato {	
background:#363636;	
font:12px arial, verdana, helvetica, sans-serif;	
border-top:8px solid #cfcfcf;
border-left:8px solid #cfcfcf;	
border-right:8px solid #696969;
border-bottom:8px solid #696969;
border-collapse:collapse;
color:#ff9900;
width: 500px;
margin-left: 100px;
}

header {	
background:#363636;	
font:12px arial, verdana, helvetica, sans-serif;	
border-top:8px solid #cfcfcf;
border-left:8px solid #cfcfcf;	
border-right:8px solid #696969;
border-bottom:8px solid #696969;
border-collapse:collapse;
color:#ff9900;
width: 500px;
margin-top: 40px;
margin-left: 100px;
}


.btn btn-success {	
background:#000000;	
color:#ffffff;
border:2px solid #ffffff;
}	